<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=7.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="BTL_HSK_QLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=7.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="db_QLS" connectionString="Data Source=DESKTOP-9FK0NO8\SQLEXPRESS;Initial Catalog=QLS;Integrated Security=True"/>
		<!--<add name="db_QLS" connectionString="Data Source=VANTHE;Initial Catalog=QLS;Integrated Security=True"/>-->
	</connectionStrings>
	<userSettings>
		<BTL_HSK_QLS.Properties.Settings>
   <setting name="MaNV" serializeAs="String">
    <value />
   </setting>
   <setting name="TaiKhoan" serializeAs="String">
    <value />
   </setting>
   <setting name="MatKhau" serializeAs="String">
    <value />
   </setting>
   <setting name="Quyen" serializeAs="String">
    <value />
   </setting>
   <setting name="TenNV" serializeAs="String">
    <value />
   </setting>
  </BTL_HSK_QLS.Properties.Settings>
	</userSettings>
</configuration>